/* Examen AWEB Daniel, 03/12/25 8:20 
Maestro si llega a leer esto, 
quiero dejarle saber que estudié para este examen
y que hice todo lo que pude. 
Me seguiré esforzando para aprobar.
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{font-size: 67.5%;}
body{
font-size: 1.5rem;
height: 200vh;
scroll-behavior: smooth;
}


nav{
display: flex;
justify-content: space-between;
width: 100%;
size: 25px;
background-color: rgb(0, 0, 0);
color: white;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
text-align: center;
margin-top: 5rem;
}

a{
    text-align: center;
}

h2{
    margin-bottom: 4rem;
    text-align: center;
    text-shadow: grey 2px 2px 2px;
}

p{
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 2rem;
}

.cursiva{
    font-size: 125%;
    margin-left: 15.5rem;
    margin-right: 15.5rem;
    color: grey;
}

li{
    margin-left: 12.5rem;
}

.footer{
    background-color: rgb(190, 190, 75);
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 0rem;
    margin-top: 5rem;
    padding-top: 20px;
    padding-bottom: 15px;
}

.comidas{
     background-color: rgb(190, 190, 75);
    width: 100%;
    margin-left: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 25px;
    color: grey;
}

footer{
    background-color: rgb(46, 45, 45);
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 80%;
}

@media(width<500px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    .experiencias{
        flex-direction: column;
    }
    .ejemplos{
        grid-template-columns: auto;
    }
}